            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/amruta-pandhare-283bb91a8/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            {%- if site.instagram_id -%}
            <a href="https://instagram.com/floating.on.wordss?igshid=MTlzZWQxMDU=" title="Instagram"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {%- if site.goodreads_id -%}
            <a href="https://www.goodreads.com/user/show/61969654-floatingonwordss" title="Goodreads"><i class="fab fa-goodreads"></i></a>
            {% endif %}
